*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: rgb(158, 161, 157);
color: #909290;
}
body{
	background-color: #d50fe7;
	color: rgb(0, 0, 0);
}
.glyphicon{
	font-size: 30px;
	color:#000000; 
}

.center{
	width: 90%;
	background-color: rgb(255, 255, 255);

}
.container
{
	background-color: rgb(218, 130, 58);
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #000000;
}
.navbar-brand{
font-size: 30px;	
background-color: rgb(255, 255, 255);
}